img {
  height: 48em;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  margin: 2em;
}

.scrolling-wrapper div {  
  display: inline-block;
  padding: 1em;
  font-family: Arial;
}

.scrolling-wrapper .title {
  writing-mode: vertical-lr;
  text-orientation: mixed;
  transform: rotate(180deg);
  font-size: 2em;
  padding-top: 8em;
}

.scrolling-wrapper::-webkit-scrollbar {
  display: none;
}
